.Root {
  width: 100%;
  height: 100%;
}

.controls {
  position: fixed;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #333;
}

.controlsGroup {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.controlButton {
  border: none;
  background: #aaa;
}

.active {
  background: orange;
}

.images {
  height: 80%;
  aspect-ratio: 1;
  position: relative;
  top: 10%;
  margin: 0 auto;
}

.imageRoot {
  position: absolute;
  inset: 0;
}

.imageWrapper {
  position: absolute;
  inset: 0;
}

.spin {
  animation: spin 60s linear infinite;
}

.hidden {
  display: none;
}

.image {
  position: absolute;
  inset: 0;
  mask-size: contain;
  animation: rotateHue ease-in-out infinite;

  img {
    position: absolute;
    width: 100%;
  }
}

.ring {
  position: absolute;
  inset: 0;
  background: radial-gradient(
    #0af 0%,
    #c00 40%,
    #fc0 60%
  );
  animation: pulse ease-in-out infinite;
  // border-radius: 50%;
  rotate: 45deg;
  translate: -5px 0;
  filter: blur(25px);
}

@keyframes rotateHue {
  0% {
    filter: hue-rotate(1turn);
  }
  100% {
    filter: hue-rotate(0);
  }
  0%, 100% {
    scale: .9;
    opacity: 0;
  }
  50% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes spin {
  to {
    rotate: 1turn;
  }
}

@keyframes pulse {
  0% {
    scale: 0
  }

  30% {
    opacity: 1
  }

  70% {
    opacity: 1
  }

  100% {
    scale: 1;
    opacity: 0;
  }
}